# Los Datos

Los conjuntos de datos que usaremos corresponden a la ejecución de ingresos públicos en Brasil durante los años 2013 al 2021. La **ejecución de ingresos públicos** se refiere al proceso mediante el cual un gobierno recauda y gestiona sus ingresos fiscales y no fiscales para financiar sus actividades y programas. En el contexto de Brasil, y en los datos que mencionas, la ejecución de ingresos públicos implica cómo se administraron los recursos que el gobierno planeaba recibir (ingresos previstos) y lo que efectivamente recaudó (ingresos realizados) durante un periodo específico, en este caso, desde 2013 hasta 2021. En Brasil, los ingresos públicos pueden venir de:

- **Impuestos:** Como el Imposto de Renda (IR) y el Imposto sobre Produtos Industrializados (IPI).

- **Contribuciones Sociales:** Como las contribuciones para la seguridad social (INSS).

- **Tasas y Tarifas:** Que pueden ser cobradas por servicios específicos.

- **Otros Ingresos:** Como multas, indemnizaciones, y la venta de activos.


Las columnas presentes en estos archivos son:

- `código órgão superior`: Código numérico que identifica la entidad gubernamental superior.

- `nome órgão superior`: Nombre de la entidad gubernamental superior.

- `código órgão`: Código numérico que identifica la entidad gubernamental específica.

- `nome órgão`: Nombre de la entidad gubernamental específica.

- `código unidade gestora`: Código numérico de la unidad gestora responsable.

- `nome unidade gestora`: Nombre de la unidad gestora.

- `categoria econômica`: Clasificación económica de los ingresos (por ejemplo, "Receitas Correntes").

- `origem receita`: Fuente específica del ingreso (por ejemplo, "Outras Receitas Correntes").

- `espécie receita`: Tipo de ingreso dentro de la fuente (por ejemplo, "Demais receitas correntes").

- `detalhamento`: Detalle adicional del tipo de ingreso (por ejemplo, "Receita de honorários de advogados").

- `valor previsto atualizado`: Monto actualizado del ingreso previsto (formato texto).

- `valor lançado`: Monto que fue registrado como lanzado (formato texto).

- `valor realizado`: Monto realmente recaudado (formato texto).

- `percentual realizado`: Porcentaje de ejecución respecto al valor previsto.

- `data lançamento`: Fecha en la que se registró la ejecución del ingreso.

- `ano exercício`: Año correspondiente a la ejecución de los ingresos.

In [213]:
import pandas as pd
import numpy as np

In [214]:
pd.set_option("display.max_columns", None)

# 2013

In [215]:
df_2013 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2013.csv",index_col=0, sep=';', encoding='latin-1')

df_2013.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013

In [216]:
df_2013.columns

Index(['NOME ÓRGÃO SUPERIOR', 'CÓDIGO ÓRGÃO', 'NOME ÓRGÃO',
       'CÓDIGO UNIDADE GESTORA', 'NOME UNIDADE GESTORA', 'CATEGORIA ECONÔMICA',
       'ORIGEM RECEITA', 'ESPÉCIE RECEITA', 'DETALHAMENTO',
       'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO',
       'PERCENTUAL REALIZADO', 'DATA LANÇAMENTO', 'ANO EXERCÍCIO'],
      dtype='object')

In [217]:
#Cambiamos el tipo de dato de valor previsto actualizado de objtect a float. Como algún dato está omo 0,00 y las comas las lee como string, cambiamos las , por .
df_2013["VALOR PREVISTO ATUALIZADO"] = df_2013["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2013["VALOR PREVISTO ATUALIZADO"] = df_2013["VALOR PREVISTO ATUALIZADO"].astype(float)

In [218]:
df_2013["VALOR LANÇADO"] = df_2013["VALOR LANÇADO"].str.replace(',', '.')
df_2013["VALOR LANÇADO"] = df_2013["VALOR LANÇADO"].astype(float)

In [219]:
df_2013["VALOR REALIZADO"] = df_2013["VALOR REALIZADO"].str.replace(',', '.')
df_2013["VALOR REALIZADO"] = df_2013["VALOR REALIZADO"].astype(float)

In [220]:
df_2013["PERCENTUAL REALIZADO"] = df_2013["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2013["PERCENTUAL REALIZADO"] = df_2013["PERCENTUAL REALIZADO"].astype(float)

In [221]:
df_2013["DATA LANÇAMENTO"] = pd.to_datetime(df_2013["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [222]:
df_2013.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4498 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NOME ÓRGÃO SUPERIOR        4498 non-null   object
 1   CÓDIGO ÓRGÃO               4498 non-null   int64
 2   NOME ÓRGÃO                 4498 non-null   object
 3   CÓDIGO UNIDADE GESTORA     4498 non-null   int64
 4   NOME UNIDADE GESTORA       4498 non-null   object
 5   CATEGORIA ECONÔMICA        4498 non-null   object
 6   ORIGEM RECEITA             4498 non-null   object
 7   ESPÉCIE RECEITA            4498 non-null   object
 8   DETALHAMENTO               4498 non-null   object
 9   VALOR PREVISTO ATUALIZADO  4498 non-null   float64
 10  VALOR LANÇADO              4498 non-null   float64
 11  VALOR REALIZADO            4498 non-null   float64
 12  PERCENTUAL REALIZADO       4498 non-null   float64
 13  DATA LANÇAMENTO            4498 non-null   datetime64[ns]
 14  ANO EXERCÍCIO              4498 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 562.2+ KB

In [223]:
df_2013.sample(2)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
26000,Ministério da Educação,26279,Fundação Universidade Federal do Piauí,154048,FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS,0.0,0.0,29.96,0.0,2013-12-31,2013
35000,Ministério das Relações Exteriores,35000,Ministério das Relações Exteriores - Unidades ...,240005,COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,0.0,0.0,488095.41,0.0,2013-12-31,2013

In [224]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2013 = df_2013.rename(columns=traducciones)

In [225]:
df_2013.head(1)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,2013-12-31,2013

In [226]:
df_2013.head(1)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,2013-12-31,2013

In [227]:
df_2013.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2013_limpio.csv", index=False, encoding='latin-1')

In [228]:
df_2013.sample(1)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
36000,Ministério da Saúde,36213,Agência Nacional de Saúde Suplementar,253003,AGENCIA NACIONAL DE SAUDE SUPLEMENTAR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,0.0,0.0,22758.46,0.0,2013-12-31,2013

# 2014

In [229]:
df_2014 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2014.csv",index_col=0, sep=';', encoding='latin-1')

df_2014.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,"0,00","0,00","46699948,08","0,00",31/12/2014,2014

In [230]:
df_2014["VALOR PREVISTO ATUALIZADO"] = df_2014["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2014["VALOR PREVISTO ATUALIZADO"] = df_2014["VALOR PREVISTO ATUALIZADO"].astype(float)

In [231]:
df_2014["VALOR LANÇADO"] = df_2014["VALOR LANÇADO"].str.replace(',', '.')
df_2014["VALOR LANÇADO"] = df_2014["VALOR LANÇADO"].astype(float)

In [232]:
df_2014["VALOR REALIZADO"] = df_2014["VALOR REALIZADO"].str.replace(',', '.')
df_2014["VALOR REALIZADO"] = df_2014["VALOR REALIZADO"].astype(float)

In [233]:
df_2014["PERCENTUAL REALIZADO"] = df_2014["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2014["PERCENTUAL REALIZADO"] = df_2014["PERCENTUAL REALIZADO"].astype(float)

In [234]:
df_2014["DATA LANÇAMENTO"] = pd.to_datetime(df_2014["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [235]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4553 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NOME ÓRGÃO SUPERIOR        4553 non-null   object
 1   CÓDIGO ÓRGÃO               4553 non-null   int64
 2   NOME ÓRGÃO                 4553 non-null   object
 3   CÓDIGO UNIDADE GESTORA     4553 non-null   int64
 4   NOME UNIDADE GESTORA       4553 non-null   object
 5   CATEGORIA ECONÔMICA        4553 non-null   object
 6   ORIGEM RECEITA             4553 non-null   object
 7   ESPÉCIE RECEITA            4553 non-null   object
 8   DETALHAMENTO               4553 non-null   object
 9   VALOR PREVISTO ATUALIZADO  4553 non-null   float64
 10  VALOR LANÇADO              4553 non-null   float64
 11  VALOR REALIZADO            4553 non-null   float64
 12  PERCENTUAL REALIZADO       4553 non-null   float64
 13  DATA LANÇAMENTO            4553 non-null   datetime64[ns]
 14  ANO EXERCÍCIO              4553 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 569.1+ KB

In [236]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2014 = df_2014.rename(columns=traducciones)

In [237]:
df_2014.head(1)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,0.0,0.0,46699948.08,0.0,2014-12-31,2014

In [238]:
df_2014.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2014_limpio.csv", index=False, encoding='latin-1')

In [239]:
df_2014.sample(1)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
36000,Ministério da Saúde,36213,Agência Nacional de Saúde Suplementar,253003,AGENCIA NACIONAL DE SAUDE SUPLEMENTAR,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS,10956585.0,0.0,1126036.56,10.0,2014-12-31,2014

# 2015

In [240]:
df_2015 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2015.csv",index_col=0, sep=';', encoding='latin-1')

df_2015.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORARIOS DE ADVOGADOS,"0,00","0,00","63829853,40","0,00",31/12/2015,2015

In [241]:
df_2015["VALOR PREVISTO ATUALIZADO"] = df_2015["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2015["VALOR PREVISTO ATUALIZADO"] = df_2015["VALOR PREVISTO ATUALIZADO"].astype(float)

In [242]:
df_2015["VALOR LANÇADO"] = df_2015["VALOR LANÇADO"].str.replace(',', '.')
df_2015["VALOR LANÇADO"] = df_2015["VALOR LANÇADO"].astype(float)

In [243]:
df_2015["VALOR REALIZADO"] = df_2015["VALOR REALIZADO"].str.replace(',', '.')
df_2015["VALOR REALIZADO"] = df_2015["VALOR REALIZADO"].astype(float)

In [244]:
df_2015["PERCENTUAL REALIZADO"] = df_2015["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2015["PERCENTUAL REALIZADO"] = df_2015["PERCENTUAL REALIZADO"].astype(float)

In [245]:
df_2015["DATA LANÇAMENTO"] = pd.to_datetime(df_2015["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [246]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4523 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NOME ÓRGÃO SUPERIOR        4523 non-null   object
 1   CÓDIGO ÓRGÃO               4523 non-null   int64
 2   NOME ÓRGÃO                 4523 non-null   object
 3   CÓDIGO UNIDADE GESTORA     4523 non-null   int64
 4   NOME UNIDADE GESTORA       4523 non-null   object
 5   CATEGORIA ECONÔMICA        4523 non-null   object
 6   ORIGEM RECEITA             4523 non-null   object
 7   ESPÉCIE RECEITA            4523 non-null   object
 8   DETALHAMENTO               4523 non-null   object
 9   VALOR PREVISTO ATUALIZADO  4523 non-null   float64
 10  VALOR LANÇADO              4523 non-null   float64
 11  VALOR REALIZADO            4523 non-null   float64
 12  PERCENTUAL REALIZADO       4523 non-null   float64
 13  DATA LANÇAMENTO            4523 non-null   datetime64[ns]
 14  ANO EXERCÍCIO              4523 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 565.4+ KB

In [247]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2015 = df_2015.rename(columns=traducciones)

In [248]:
df_2015.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2015_limpio.csv", index=False, encoding='latin-1')

In [249]:
df_2015.sample(1)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
26000,Ministério da Educação,26350,Fundação Universidade Federal da Grande Dourados,154502,FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS,Receitas Correntes,Transferências Correntes,Transferências de Convênios,TRANSFER. CONVENIOS DE INSTITUICOES PRIVADAS,93000.0,0.0,10590.0,11.0,2015-12-31,2015

# 2016

In [250]:
df_2016 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2016.csv",index_col=0, sep=';', encoding='latin-1')

df_2016.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC,"0,00","0,00","154948,98","0,00",04/04/2016,2016

In [251]:
df_2016["VALOR PREVISTO ATUALIZADO"] = df_2016["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2016["VALOR PREVISTO ATUALIZADO"] = df_2016["VALOR PREVISTO ATUALIZADO"].astype(float)

In [252]:
df_2016["VALOR LANÇADO"] = df_2016["VALOR LANÇADO"].str.replace(',', '.')
df_2016["VALOR LANÇADO"] = df_2016["VALOR LANÇADO"].astype(float)

In [253]:
df_2016["VALOR REALIZADO"] = df_2016["VALOR REALIZADO"].str.replace(',', '.')
df_2016["VALOR REALIZADO"] = df_2016["VALOR REALIZADO"].astype(float)

In [254]:
df_2016["PERCENTUAL REALIZADO"] = df_2016["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2016["PERCENTUAL REALIZADO"] = df_2016["PERCENTUAL REALIZADO"].astype(float)

In [255]:
df_2016["DATA LANÇAMENTO"] = pd.to_datetime(df_2016["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [256]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194533 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   NOME ÓRGÃO SUPERIOR        194533 non-null  object
 1   CÓDIGO ÓRGÃO               194533 non-null  int64
 2   NOME ÓRGÃO                 194533 non-null  object
 3   CÓDIGO UNIDADE GESTORA     194533 non-null  int64
 4   NOME UNIDADE GESTORA       194533 non-null  object
 5   CATEGORIA ECONÔMICA        194533 non-null  object
 6   ORIGEM RECEITA             194533 non-null  object
 7   ESPÉCIE RECEITA            194533 non-null  object
 8   DETALHAMENTO               194533 non-null  object
 9   VALOR PREVISTO ATUALIZADO  194533 non-null  float64
 10  VALOR LANÇADO              194533 non-null  float64
 11  VALOR REALIZADO            194533 non-null  float64
 12  PERCENTUAL REALIZADO       194533 non-null  float64
 13  DATA LANÇAMENTO            194451 non-null  datetime64[ns]
 14  ANO EXERCÍCIO              194533 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 23.7+ MB

In [257]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2016 = df_2016.rename(columns=traducciones)

In [258]:
df_2016.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2016_limpio.csv", index=False, encoding='latin-1')

# 2017

In [259]:
df_2017 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2017.csv",index_col=0, sep=';', encoding='latin-1')

df_2017.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","198,00","0,00",29/08/2017,2017

In [260]:
df_2017["VALOR PREVISTO ATUALIZADO"] = df_2017["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2017["VALOR PREVISTO ATUALIZADO"] = df_2017["VALOR PREVISTO ATUALIZADO"].astype(float)

In [261]:
df_2017["VALOR LANÇADO"] = df_2017["VALOR LANÇADO"].str.replace(',', '.')
df_2017["VALOR LANÇADO"] = df_2017["VALOR LANÇADO"].astype(float)

In [262]:
df_2017["VALOR REALIZADO"] = df_2017["VALOR REALIZADO"].str.replace(',', '.')
df_2017["VALOR REALIZADO"] = df_2017["VALOR REALIZADO"].astype(float)

In [263]:
df_2017["PERCENTUAL REALIZADO"] = df_2017["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2017["PERCENTUAL REALIZADO"] = df_2017["PERCENTUAL REALIZADO"].astype(float)

In [264]:
df_2017["DATA LANÇAMENTO"] = pd.to_datetime(df_2017["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [265]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190479 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   NOME ÓRGÃO SUPERIOR        190479 non-null  object
 1   CÓDIGO ÓRGÃO               190479 non-null  int64
 2   NOME ÓRGÃO                 190479 non-null  object
 3   CÓDIGO UNIDADE GESTORA     190479 non-null  int64
 4   NOME UNIDADE GESTORA       190479 non-null  object
 5   CATEGORIA ECONÔMICA        190479 non-null  object
 6   ORIGEM RECEITA             190479 non-null  object
 7   ESPÉCIE RECEITA            190479 non-null  object
 8   DETALHAMENTO               190479 non-null  object
 9   VALOR PREVISTO ATUALIZADO  190479 non-null  float64
 10  VALOR LANÇADO              190479 non-null  float64
 11  VALOR REALIZADO            190479 non-null  float64
 12  PERCENTUAL REALIZADO       190479 non-null  float64
 13  DATA LANÇAMENTO            190393 non-null  datetime64[ns]
 14  ANO EXERCÍCIO              190479 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 23.3+ MB

In [266]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2017 = df_2017.rename(columns=traducciones)

In [267]:
df_2017.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2017_limpio.csv", index=False, encoding='latin-1')

# 2018

In [268]:
df_2018 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2018.csv",index_col=0, sep=';', encoding='latin-1')

df_2018.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-1693,72","0,00",25/07/2018,2018

In [269]:
df_2018["VALOR PREVISTO ATUALIZADO"] = df_2018["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2018["VALOR PREVISTO ATUALIZADO"] = df_2018["VALOR PREVISTO ATUALIZADO"].astype(float)

In [270]:
df_2018["VALOR LANÇADO"] = df_2018["VALOR LANÇADO"].str.replace(',', '.')
df_2018["VALOR LANÇADO"] = df_2018["VALOR LANÇADO"].astype(float)

In [271]:
df_2018["VALOR REALIZADO"] = df_2018["VALOR REALIZADO"].str.replace(',', '.')
df_2018["VALOR REALIZADO"] = df_2018["VALOR REALIZADO"].astype(float)

In [272]:
df_2018["PERCENTUAL REALIZADO"] = df_2018["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2018["PERCENTUAL REALIZADO"] = df_2018["PERCENTUAL REALIZADO"].astype(float)

In [273]:
df_2018["DATA LANÇAMENTO"] = pd.to_datetime(df_2018["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [274]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 173944 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   NOME ÓRGÃO SUPERIOR        173944 non-null  object
 1   CÓDIGO ÓRGÃO               173944 non-null  int64
 2   NOME ÓRGÃO                 173944 non-null  object
 3   CÓDIGO UNIDADE GESTORA     173944 non-null  int64
 4   NOME UNIDADE GESTORA       173944 non-null  object
 5   CATEGORIA ECONÔMICA        173944 non-null  object
 6   ORIGEM RECEITA             173944 non-null  object
 7   ESPÉCIE RECEITA            173944 non-null  object
 8   DETALHAMENTO               173944 non-null  object
 9   VALOR PREVISTO ATUALIZADO  173944 non-null  float64
 10  VALOR LANÇADO              173944 non-null  float64
 11  VALOR REALIZADO            173944 non-null  float64
 12  PERCENTUAL REALIZADO       173944 non-null  float64
 13  DATA LANÇAMENTO            173829 non-null  datetime64[ns]
 14  ANO EXERCÍCIO              173944 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 21.2+ MB

In [275]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2018 = df_2018.rename(columns=traducciones)

In [276]:
df_2018.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2018_limpio.csv", index=False, encoding='latin-1')

# 2019

In [277]:
df_2019 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2019.csv",index_col=0, sep=';', encoding='latin-1')

df_2019.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-95,00","0,00",12/06/2019,2019

In [278]:
df_2019["VALOR PREVISTO ATUALIZADO"] = df_2019["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2019["VALOR PREVISTO ATUALIZADO"] = df_2019["VALOR PREVISTO ATUALIZADO"].astype(float)

In [279]:
df_2019["VALOR LANÇADO"] = df_2019["VALOR LANÇADO"].str.replace(',', '.')
df_2019["VALOR LANÇADO"] = df_2019["VALOR LANÇADO"].astype(float)

In [280]:
df_2019["VALOR REALIZADO"] = df_2019["VALOR REALIZADO"].str.replace(',', '.')
df_2019["VALOR REALIZADO"] = df_2019["VALOR REALIZADO"].astype(float)

In [281]:
df_2019["PERCENTUAL REALIZADO"] = df_2019["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2019["PERCENTUAL REALIZADO"] = df_2019["PERCENTUAL REALIZADO"].astype(float)

In [282]:
df_2019["DATA LANÇAMENTO"] = pd.to_datetime(df_2019["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [283]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 176828 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   NOME ÓRGÃO SUPERIOR        176828 non-null  object
 1   CÓDIGO ÓRGÃO               176828 non-null  int64
 2   NOME ÓRGÃO                 176828 non-null  object
 3   CÓDIGO UNIDADE GESTORA     176828 non-null  int64
 4   NOME UNIDADE GESTORA       176828 non-null  object
 5   CATEGORIA ECONÔMICA        176828 non-null  object
 6   ORIGEM RECEITA             176828 non-null  object
 7   ESPÉCIE RECEITA            176828 non-null  object
 8   DETALHAMENTO               176828 non-null  object
 9   VALOR PREVISTO ATUALIZADO  176828 non-null  float64
 10  VALOR LANÇADO              176828 non-null  float64
 11  VALOR REALIZADO            176828 non-null  float64
 12  PERCENTUAL REALIZADO       176828 non-null  float64
 13  DATA LANÇAMENTO            176742 non-null  datetime64[ns]
 14  ANO EXERCÍCIO              176828 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 21.6+ MB

In [284]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2019 = df_2019.rename(columns=traducciones)

In [285]:
df_2019.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2019_limpio.csv", index=False, encoding='latin-1')

# 2020

In [286]:
df_2020 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2020.csv",index_col=0, sep=';', encoding='latin-1')

df_2020.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","5516,90","0,00",28/04/2020,2020

In [287]:
df_2020["VALOR PREVISTO ATUALIZADO"] = df_2020["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2020["VALOR PREVISTO ATUALIZADO"] = df_2020["VALOR PREVISTO ATUALIZADO"].astype(float)

In [288]:
df_2020["VALOR LANÇADO"] = df_2020["VALOR LANÇADO"].str.replace(',', '.')
df_2020["VALOR LANÇADO"] = df_2020["VALOR LANÇADO"].astype(float)

In [289]:
df_2020["VALOR REALIZADO"] = df_2020["VALOR REALIZADO"].str.replace(',', '.')
df_2020["VALOR REALIZADO"] = df_2020["VALOR REALIZADO"].astype(float)

In [290]:
df_2020["PERCENTUAL REALIZADO"] = df_2020["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2020["PERCENTUAL REALIZADO"] = df_2020["PERCENTUAL REALIZADO"].astype(float)

In [291]:
df_2020["DATA LANÇAMENTO"] = pd.to_datetime(df_2020["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [292]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142348 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   NOME ÓRGÃO SUPERIOR        142348 non-null  object
 1   CÓDIGO ÓRGÃO               142348 non-null  int64
 2   NOME ÓRGÃO                 142348 non-null  object
 3   CÓDIGO UNIDADE GESTORA     142348 non-null  int64
 4   NOME UNIDADE GESTORA       142348 non-null  object
 5   CATEGORIA ECONÔMICA        142348 non-null  object
 6   ORIGEM RECEITA             142348 non-null  object
 7   ESPÉCIE RECEITA            142348 non-null  object
 8   DETALHAMENTO               142348 non-null  object
 9   VALOR PREVISTO ATUALIZADO  142348 non-null  float64
 10  VALOR LANÇADO              142348 non-null  float64
 11  VALOR REALIZADO            142348 non-null  float64
 12  PERCENTUAL REALIZADO       142348 non-null  float64
 13  DATA LANÇAMENTO            142262 non-null  datetime64[ns]
 14  ANO EXERCÍCIO              142348 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 17.4+ MB

In [293]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2020 = df_2020.rename(columns=traducciones)

In [294]:
df_2020.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2020_limpio.csv", index=False, encoding='latin-1')

# 2021

In [295]:
df_2021 = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2021.csv",index_col=0, sep=';', encoding='latin-1')

df_2021.head(1)

,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"2224034904,00","0,00","0,00","0,00",23/04/2021,2021

In [296]:
df_2021["VALOR PREVISTO ATUALIZADO"] = df_2021["VALOR PREVISTO ATUALIZADO"].str.replace(',', '.')
df_2021["VALOR PREVISTO ATUALIZADO"] = df_2021["VALOR PREVISTO ATUALIZADO"].astype(float)

In [297]:
df_2021["VALOR LANÇADO"] = df_2021["VALOR LANÇADO"].str.replace(',', '.')
df_2021["VALOR LANÇADO"] = df_2021["VALOR LANÇADO"].astype(float)

In [298]:
df_2021["VALOR REALIZADO"] = df_2021["VALOR REALIZADO"].str.replace(',', '.')
df_2021["VALOR REALIZADO"] = df_2021["VALOR REALIZADO"].astype(float)

In [299]:
df_2021["PERCENTUAL REALIZADO"] = df_2021["PERCENTUAL REALIZADO"].str.replace(',', '.')
df_2021["PERCENTUAL REALIZADO"] = df_2021["PERCENTUAL REALIZADO"].astype(float)

In [300]:
df_2021["DATA LANÇAMENTO"] = pd.to_datetime(df_2021["DATA LANÇAMENTO"], format="%d/%m/%Y")

In [301]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134593 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   NOME ÓRGÃO SUPERIOR        134593 non-null  object
 1   CÓDIGO ÓRGÃO               134593 non-null  int64
 2   NOME ÓRGÃO                 134593 non-null  object
 3   CÓDIGO UNIDADE GESTORA     134593 non-null  int64
 4   NOME UNIDADE GESTORA       134593 non-null  object
 5   CATEGORIA ECONÔMICA        134593 non-null  object
 6   ORIGEM RECEITA             134593 non-null  object
 7   ESPÉCIE RECEITA            134593 non-null  object
 8   DETALHAMENTO               134593 non-null  object
 9   VALOR PREVISTO ATUALIZADO  134593 non-null  float64
 10  VALOR LANÇADO              134593 non-null  float64
 11  VALOR REALIZADO            134593 non-null  float64
 12  PERCENTUAL REALIZADO       134593 non-null  float64
 13  DATA LANÇAMENTO            134470 non-null  datetime64[ns]
 14  ANO EXERCÍCIO              134593 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 16.4+ MB

In [302]:
traducciones = {
    'NOME ÓRGÃO SUPERIOR': 'NOMBRE ÓRGANO SUPERIOR',
    'CÓDIGO ÓRGÃO': 'CÓDIGO ÓRGANO',
    'NOME ÓRGÃO': 'NOMBRE ÓRGANO',
    'CÓDIGO UNIDADE GESTORA': 'CÓDIGO UNIDAD GESTORA',
    'NOME UNIDADE GESTORA': 'NOMBRE UNIDAD GESTORA',
    'CATEGORIA ECONÔMICA': 'CATEGORÍA ECONÓMICA',
    'ORIGEM RECEITA': 'ORIGEN INGRESO',
    'ESPÉCIE RECEITA': 'TIPO INGRESO',
    'DETALHAMENTO': 'DETALLE',
    'VALOR PREVISTO ATUALIZADO': 'VALOR PREVISTO ACTUALIZADO',
    'VALOR LANÇADO': 'VALOR LANZADO',
    'VALOR REALIZADO': 'VALOR REALIZADO',
    'PERCENTUAL REALIZADO': 'PORCENTAJE REALIZADO',
    'DATA LANÇAMENTO': 'FECHA LANZAMIENTO',
    'ANO EXERCÍCIO': 'AÑO EJERCICIO'
}

df_2021 = df_2021.rename(columns=traducciones)

In [303]:
df_2021.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-2021_limpio.csv", index=False, encoding='latin-1')

# Tratamiento nulos y columnas redundantes

In [304]:
df_2013.columns

Index(['NOMBRE ÓRGANO SUPERIOR', 'CÓDIGO ÓRGANO', 'NOMBRE ÓRGANO',
       'CÓDIGO UNIDAD GESTORA', 'NOMBRE UNIDAD GESTORA', 'CATEGORÍA ECONÓMICA',
       'ORIGEN INGRESO', 'TIPO INGRESO', 'DETALLE',
       'VALOR PREVISTO ACTUALIZADO', 'VALOR LANZADO', 'VALOR REALIZADO',
       'PORCENTAJE REALIZADO', 'FECHA LANZAMIENTO', 'AÑO EJERCICIO'],
      dtype='object')

In [305]:
df_2013.describe().T

,count,mean,min,25%,50%,75%,max,std
CÓDIGO ÓRGANO,4498.0,31447.970431,20101.0,25916.0,26292.0,35000.0,91214.0,10798.289531
CÓDIGO UNIDAD GESTORA,4498.0,233059.79791,110005.0,153173.0,160075.0,254420.0,913001.0,141561.057724
VALOR PREVISTO ACTUALIZADO,4498.0,483470641.690093,0.0,0.0,23091.0,1108096.75,610065700590.0,10263685552.731728
VALOR LANZADO,4498.0,254014415.656723,0.0,0.0,0.0,0.0,295606275807.679993,6061874000.837905
VALOR REALIZADO,4498.0,420990155.424584,-276398836.04,503.08,48039.965,978151.3125,413786247189.789978,7658595610.254892
PORCENTAJE REALIZADO,4498.0,999.233882,-201.0,0.0,0.0,99.0,1605449.0,26062.597812
FECHA LANZAMIENTO,4498,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,NaN
AÑO EJERCICIO,4498.0,2013.0,2013.0,2013.0,2013.0,2013.0,2013.0,0.0

In [306]:
df_2021.isnull().sum()

NOMBRE ÓRGANO SUPERIOR          0
CÓDIGO ÓRGANO                   0
NOMBRE ÓRGANO                   0
CÓDIGO UNIDAD GESTORA           0
NOMBRE UNIDAD GESTORA           0
CATEGORÍA ECONÓMICA             0
ORIGEN INGRESO                  0
TIPO INGRESO                    0
DETALLE                         0
VALOR PREVISTO ACTUALIZADO      0
VALOR LANZADO                   0
VALOR REALIZADO                 0
PORCENTAJE REALIZADO            0
FECHA LANZAMIENTO             123
AÑO EJERCICIO                   0
dtype: int64

In [307]:
print(df_2021["CÓDIGO ÓRGANO"].info())

print("_-----------------------")

print(df_2013["CÓDIGO ÓRGANO"].info())

print("_-----------------------")

print(df_2014["CÓDIGO ÓRGANO"].info())

<class 'pandas.core.series.Series'>
Index: 134593 entries, 63000 to 20000
Series name: CÓDIGO ÓRGANO
Non-Null Count   Dtype
--------------   -----
134593 non-null  int64
dtypes: int64(1)
memory usage: 2.1 MB
None
_-----------------------
<class 'pandas.core.series.Series'>
Index: 4498 entries, 63000 to 20000
Series name: CÓDIGO ÓRGANO
Non-Null Count  Dtype
--------------  -----
4498 non-null   int64
dtypes: int64(1)
memory usage: 70.3 KB
None
_-----------------------
<class 'pandas.core.series.Series'>
Index: 4553 entries, 63000 to 20000
Series name: CÓDIGO ÓRGANO
Non-Null Count  Dtype
--------------  -----
4553 non-null   int64
dtypes: int64(1)
memory usage: 71.1 KB
None

In [308]:
df_2021.sample(2)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
54000,Ministério do Turismo,20404,Fundação Biblioteca Nacional,344042,FUNDACAO BIBLIOTECA NACIONAL,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,0.0,0.0,1915.00,0.0,2021-05-17,2021
26000,Ministério da Educação,26248,Universidade Federal Rural de Pernambuco,153165,UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL,0.0,0.0,298.58,0.0,2021-01-07,2021

In [309]:
df_2013.sample(2)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
26000,Ministério da Educação,26282,Universidade Federal de Viçosa,154051,UNIVERSIDADE FEDERAL DE VICOSA,Receitas Correntes,Receita de Serviços,Receita de Serviços,SERVICOS EDUCACIONAIS,2101457.0,0.0,1595334.42,76.0,2013-12-31,2013
24000,"Ministério da Ciência, Tecnologia, Inovações",24901,Fundo Nacional de Desenvolvimento Científico e...,240901,FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ARRENDAMENTOS,6126102.0,0.0,6116695.75,100.0,2013-12-31,2013

# UNIÓN DE DF - CONCAT

In [310]:
df_final = pd.concat([df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021], axis= 0)
df_final.head(2)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,2013-12-31,2013
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.0,0.0,26666621.42,0.0,2013-12-31,2013

In [311]:
df_final.to_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-unidos.csv", index=False, encoding='latin-1')

In [314]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 63000 to 20000
Data columns (total 15 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   NOMBRE ÓRGANO SUPERIOR      1026299 non-null  object
 1   CÓDIGO ÓRGANO               1026299 non-null  int64
 2   NOMBRE ÓRGANO               1026299 non-null  object
 3   CÓDIGO UNIDAD GESTORA       1026299 non-null  int64
 4   NOMBRE UNIDAD GESTORA       1026299 non-null  object
 5   CATEGORÍA ECONÓMICA         1026299 non-null  object
 6   ORIGEN INGRESO              1026299 non-null  object
 7   TIPO INGRESO                1026299 non-null  object
 8   DETALLE                     1026299 non-null  object
 9   VALOR PREVISTO ACTUALIZADO  1026299 non-null  float64
 10  VALOR LANZADO               1026299 non-null  float64
 11  VALOR REALIZADO             1026299 non-null  float64
 12  PORCENTAJE REALIZADO        1026299 non-null  float64
 13  FECHA LANZAMIENTO           1025721 non-null  datetime64[ns]
 14  AÑO EJERCICIO               1026299 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 125.3+ MB

In [316]:
df_final.isnull().sum()

NOMBRE ÓRGANO SUPERIOR          0
CÓDIGO ÓRGANO                   0
NOMBRE ÓRGANO                   0
CÓDIGO UNIDAD GESTORA           0
NOMBRE UNIDAD GESTORA           0
CATEGORÍA ECONÓMICA             0
ORIGEN INGRESO                  0
TIPO INGRESO                    0
DETALLE                         0
VALOR PREVISTO ACTUALIZADO      0
VALOR LANZADO                   0
VALOR REALIZADO                 0
PORCENTAJE REALIZADO            0
FECHA LANZAMIENTO             578
AÑO EJERCICIO                   0
dtype: int64